#container{
    display: flex;
    width: 960px;
    height: 720px;
}


#numbersContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 480px;
    width: 720px;
}

.number{
    border: 1px solid black;
    width: 160px;
    height: 160px;
}