#container{
    display: flex;
}


#numbersContainer{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 720px;
}

.number{
    border: 1px solid black;
    width: 240px;
    height: 240px;
}